Source: ubertooth
Section: net
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9),
               libusb-1.0-0-dev,
               libpcap-dev,
               cmake,
               pkg-config,
               libbluetooth-dev,
               libbtbb-dev,
               python-all-dev,
               gcc-arm-none-eabi
Standards-Version: 3.9.6
Vcs-Git: https://github.com/greatscottgadgets/ubertooth.git
Vcs-Browser: https://github.com/greatscottgadgets/ubertooth/
Homepage: http://ubertooth.sourceforge.net/

Package: libubertooth0
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Shared library for ubertooth

Package: libubertooth-dev
Architecture: any
Section: libdevel
Depends: libubertooth0 (= ${binary:Version}),
         libusb-1.0-0-dev,
         libpcap-dev,
         libbluetooth-dev,
         libbtbb-dev,
         ${misc:Depends}
Description: Development files for libubertooth0

Package: libubertooth0-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libubertooth0 (= ${binary:Version}),
         ${misc:Depends}
Description: debug symbols for libubertooth0

Package: ubertooth
Architecture: any
Depends: libubertooth0 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         python,
         python-numpy,
#        pyusb-1.0 <  This high version still not in debian :(
         python-pyside.qtcore,
         python-pyside.qtgui
Recommends: ubertooth-firmware
Description: Tools for ubertooth

Package: ubertooth-firmware
Architecture: all
Depends: ${misc:Depends}
Description: firmware for ubertooth

