#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CHANGELOG_DATE ?= $(shell date -d "`dpkg-parsechangelog --show-field Date`" +"%d %B %Y")

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=host
	dh_auto_clean --sourcedirectory=firmware
	$(RM) debian/man/*.1
	$(RM) ubertooth-firmware-source.tar.gz

override_dh_auto_configure:
	GZIP=-9n tar --owner=root --group=root -czvf ubertooth-firmware-source.tar.gz firmware/
	dh_auto_configure --sourcedirectory=host -- -DLIB_SUFFIX=/$(DEB_HOST_MULTIARCH) \
	 -DUBERTOOTH_GROUP=plugdev -DUDEV_RULES_PATH=/lib/udev/rules.d
	dh_auto_configure --sourcedirectory=firmware

override_dh_auto_build:
	dh_auto_build --sourcedirectory=host
	dh_auto_build --sourcedirectory=firmware

override_dh_auto_install:
	chmod a-x firmware/*/*.bin
	dh_auto_install --sourcedirectory=host
	dh_auto_install --sourcedirectory=firmware

override_dh_strip:
	dh_strip -plibubertooth0 --keep-debug --dbg-package=libubertooth0-dbg
	dh_strip -pubertooth

override_dh_installman:
	cd debian/man ; CHANGELOG_DATE="$(CHANGELOG_DATE)" ./genmanpages.sh
	dh_installman
